body {
    font-family: Arial, sans-serif;
    background-color: #ff4d4d;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none; 
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

a.btn {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 30px auto;
    background-color: #fff;
}


table tr:nth-child(even) {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Letras negras */
}


table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    color: #000000;
}


form {
    margin-top: 30px;
}

form input[type="text"], form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form input[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.no-clients-message {
    font-weight: bold;
}

.volver-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    color: #fff;
}

.alert {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #007BFF;
    margin-top: 20px;
}

.client-table {
    background-color: #000000;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
    margin-top: 20px;
}


.fa-pencil-alt {
    color: #00ff33; 
    font-size: 20px; 
  }
  
.fa-trash-alt {
    color: #ff0000; 
    font-size: 20px; 
  }
  